<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %> - Wishlist</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

    <nav>
        <ul>
            <li class="leftNav"><p>Logo</p></li>
            <% if (locals.navText === '') { %>
                <li class="middleNav"><h1><a href="/">Wishlist</a></h1></li>
            <% } else { %>
                <li class="middleNav"><h1><a href="/">Wishlist - <%= locals.navText %></a></h1></li>
            <% }; %>
            <li class="rightNav"><a href="/sign-in">log in</a></li>
        </ul>
    </nav><br><br><br><br>