<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/landingpage.css">
    <link rel="stylesheet" href="/css/userpage.css">

    <h2>Check out these wishlists</h2>

    <div class="wishlistContainer">
    </div>

    <!-- scripts -->
    <script src="/js/landingpage.js" defer></script>

<%- include('partials/footer') %>