<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/landingpage.css">

    <h1>Check out these wishlists</h1>

    <div class="wishlistContainer">
        <div class="wishlist" id="user_id">
            <p><span class="username">[username]</span> - <span class="topitem">[item from top of the list]</span></p>
        </div>

        <div class="wishlist" id="user_id">
            <p><span class="username">[username]</span> - <span class="topitem">[item from top of the list]</span></p>
        </div>

        <div class="wishlist" id="user_id">
            <p><span class="username">[username]</span> - <span class="topitem">[item from top of the list]</span></p>
        </div>

        <div class="wishlist" id="user_id">
            <p><span class="username">[username]</span> - <span class="topitem">[item from top of the list]</span></p>
        </div>
        
        <div class="wishlist" id="user_id">
            <p><span class="username">[username]</span> - <span class="topitem">[item from top of the list]</span></p>
        </div>
    </div>

<%- include('partials/footer') %>