<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/statusCodes.css">

    <form class="loginForm">
        <h2>Sign in and wish with us!</h2>
        <input type="text" id="username" class="username" placeholder="username">
        <input type="password" id="password" class="password" placeholder="password">
        <p class="feedback hidden">feedback</p>
        <button class="submit" type="submit">sign in</button>
    </form>

<%- include('partials/footer') %>