<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/userpage.css">

    <ul class="wishlist">
        <li><span class="id">1</span> - <span class="content">Most wanted</span></li>
        <li><span class="id">2</span> - <span class="content">Wanted item</span></li>
        <li><span class="id">3</span> - <span class="content">Wanted item</span></li>
        <li><span class="id">4</span> - <span class="content">Wanted item</span></li>
        <li><span class="id">5</span> - <span class="content">Least wanted</span></li>
    </ul>

<%- include('partials/footer') %>