<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/userpage.css">
    <link rel="stylesheet" href="/css/userhome.css">

    <form class="addItems">
        <input type="text" id="item" placeholder="add another item to the list..">
        <button type="submit">Add</button>
    </form>

    <ul class="wishlist">
    </ul>

    <!-- script -->
    <script src="/js/userhome.js"></script>

<%- include('partials/footer') %>