<%- include('partials/header') %>

    <!-- css -->
    <link rel="stylesheet" href="/css/userpage.css">
    <link rel="stylesheet" href="/css/userhome.css">
    <link rel="stylesheet" href="/css/statusCodes.css">

    <form class="addItems">
        <input type="text" id="item" placeholder="add another item to the list..">
        <button type="submit">Add</button>
        <p class="feedback hidden">feedback</p>
    </form>

    <form class="wishlistForm">
        <ul class="wishlistContainer">
            <!-- <li class="item" id="item1">
                <div class="reorderButtons">
                    <button class="itemUp" id="item1up">Move up</button>
                    <button class="itemDown" id="item1down">Move down</button>
                </div>
                <input class="itemInput" id="input1" type="text">
                <div class="updateButtons">
                    <button class="update" id="item1update">Update</button>
                    <button class="delete" id="item1delete">Delete</button>
                </div>
            </li> -->
        </ul>
    </form>

    <!-- script -->
    <script src="/js/feedback.js" defer></script>
    <script src="/js/userhome.js" defer></script>

<%- include('partials/footer') %>