.wishlist {
    width: 800px;

    margin-left: auto;
    margin-right: auto;
}

.item {
    margin: 15px;
    margin-left: auto;
    margin-right: auto;

    list-style-type: none;
    text-align: center;

    font-size: 22px;
    width: 700px;
}

.feedback {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    padding: 5px;
}